/* Nav section */
header .parallax-container {
	height: 350px;
}
.navigation .brand-logo {
	position: static;
	margin: 0;
}
.logo {
	display: flex;
	align-items: center;
}
.navigation {
	margin-top: 40px;
	background-color: #381cedeb;
}
.nav-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.select-wrapper {
	width: 90px;
}
.select-wrapper input {
	color: antiquewhite;
}

.select-wrapper .caret {
	fill: antiquewhite !important;
}
nav i.material-icons {
	padding-top: 3px;
	margin-right: 10px;
}
.dropdown-content li > span {
	color: #381cedeb !important;
}

/* Hero section */
.hero-section {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Footer */
footer {
	padding-top: 60px;
	padding-bottom: 60px;
}
