/* Nav section */
header .parallax-container {
	height: 350px;
}
.navigation .brand-logo {
	position: static;
	margin: 0;
}
.logo {
	display: flex;
	align-items: center;
}
.navigation {
	margin-top: 40px;
	background-color: #381cedeb;
}
.nav-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.select-wrapper {
	width: 90px;
}
.select-wrapper input {
	color: #faebd7;
}

.select-wrapper .caret {
	fill: #faebd7 !important;
}
nav i.material-icons {
	padding-top: 3px;
	margin-right: 10px;
}
.dropdown-content li > span {
	color: #381cedeb !important;
}

/* Hero section */
.hero-section {
	padding-top: 30px;
	padding-bottom: 30px;
}
.hero-container {
	display: flex;
	flex-direction: column;
}

/* Form section */

.form-section .parallax-container {
	padding-top: 30px;
	padding-bottom: 30px;
}
.form-section .row {
	margin-bottom: 0;
}
.form-section .card {
	background-color: #3c1efccf;
	margin: 0;
}
.form-section .card .card-title {
	margin: 0;
	font-weight: 700;
	font-size: 35px;
	color: #fcfcfcda;
}
.card-action {
	display: flex;
	justify-content: space-between;
}
input.autocomplete,
input.datepicker {
	color: #fcfcfcda;
}
.form-section .input-field {
	margin: 17px 0;
}

/* Tickets-section */
.tickets-section {
	padding-top: 40px;
	padding-bottom: 40px;
}
.tickets-section-container {
	padding-left: 30px;
	padding-right: 30px;
}
.card-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: -25px;
	margin-left: auto;
	margin-right: auto;
}
.ticket-box {
	max-width: 450px;
	/* // min-height: 600px; */
	margin: 25px;
	width: calc(100 / 2 * 50px) / 2;
	/* border-radius: 20px; */
	box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
		23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.ticket-card {
	padding: 15px;
}
.ticket-airline {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.ticket-airline-img {
	width: 80px;
	margin-right: 20px;
}
.tickets-information-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Footer */
footer {
	padding-top: 40px;
	padding-bottom: 160px;
}
